<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register page</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div class="login-page">
        <div class="form">
            <form class="register-form" method="post" action="/register" th:object="${registerRequest}">
                <h2>Register</h2>
                <input type="text" name="login" placeholder="Login"/>
                <input type="password" name="password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                       title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required/>
                <button>create</button>
                <p class="message">Already registered? <a href="/login">Sign In</a></p>
            </form>
        </div>
    </div>

</body>
</html>